.icon-left {
   position: absolute;
   top: 10px;
   left: 10px;
}

.summer .icon {
   color: rgba(204, 51, 63, 0.7);
}

.winter .icon {
   color: rgba(0, 160, 176, 0.7);
}

.icon-right {
   position: absolute;
   bottom: 10px;
   right: 10px;
}

.season-display {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

.summer {
   background: rgba(204, 51, 63, 0.2);
}

.winter {
   background: rgba(0, 160, 176, 0.2);
}
